.container {    
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: auto; */
    height: 100vh;
}
.sub_container{
    background-color: rgba(215, 173, 230, 0.164);
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}
h1{
    color: green;
    font-size: 30px;
}
h3{
    /* margin-top: -20px; */
    color: red;
    font-size: 25px;
}
