.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_container{
    /* margin-top: 407px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:last baseline;
    width: 250px;
    height: 350px;
    background-color: #1111112a;
    border-radius: 5px;
    text-align: center;
}
.sub_container input:nth-child(8){
    height: 50px;
    padding: 3px;
    margin: 1px;
}
.sub_container input{
    border-radius: 8px;
    padding: 5px;
}
.sub_container button{
    width: 100px;
    padding: 5px;
    font-size: larger;
    background-color: green;
    color: white;
    border-radius: 8px;
}